body {
  margin: 20px;
  font-family: monospace;
  font-size: 16px;
  font-weight: bolder;
  color: #2b2839;
}
.profile-img {
  width: 150px;
  border-radius: 10px;
}
.profile-img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.card {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  border: 4px solid #fb8500;
  background: #ffb703;
  border-radius: 10px;
}
.flex-item {
  text-align: center;
}
h3 {
  font-size: 22px;
}
