body {
  margin: 20px;
}
.profile-img {
  width: 150px;
  border-radius: 5px;
  margin-right: 20px;
}
.card {
  
  padding: 20px;
  display: flex;
}
.dotted-border {
  border: 1px dotted blue;
}
