.main {
  margin-top: 100px;
}
img,
input {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  width: 300px;
  margin-bottom: 20px;
}
.search-bar {
  width: 400px;
  line-height: 24px;
  padding: 10px 30px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}
