body {
  color: #82a5ca;
  background-image: url("images/galaxy.gif");
  background-size: cover;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

#main-logo {
  width: 100px;
}

h1 {
  margin-top: 0;
}

.btn {
  color: #82a5ca;
  padding: 6px 12px;
  background: white;
  border: none;
  font-family: inherit;
  font-weight: 800;
}

.underline {
  border-bottom: 4px solid white;
}
