button {
  background: #333;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}
input {
  border: 1px solid #333;
  padding: 10px;
  color: #333;
  font-weight: bold;
}
img {
  width: 150px;
  border: 2px solid #333;
}
