body {
  background: whitesmoke;
  color: whitesmoke;
  font-family: "Rammetto One", cursive;
}

.ad {
  background: #35654d;
  border: 5px solid #a3bc71;
  text-align: center;
}

.cta {
  border: 2px solid #a3bc71;
}
